<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="feed.css">
    <title>AAALF</title>
</head>

<body>
<div id="app">
    <!-- Your code here -->

    <template>
        <header>
            <nav class="menu">
                <div id="nav-bar">
                    <div id="logo"><img src="atletica_logo.png"></div>
                    <p id="title">Associação Atlética das Licenciaturas</p>
                    <div id="vue-menu">
                        <md-menu>
                            <md-menu md-size="medium" md-align-trigger>
                                <md-button md-menu-trigger>Home</md-button>

                                <md-menu-content>
                                    <md-menu-item>Feed</md-menu-item>
                                    <md-menu-item>Noticiário</md-menu-item>
                                </md-menu-content>
                            </md-menu>


                                <md-menu md-size="medium" md-align-trigger>
                                    <md-button md-menu-trigger>Parcerias</md-button>

                                    <md-menu-content>
                                        <md-menu-item>UFSC</md-menu-item>
                                        <md-menu-item>DCE</md-menu-item>
                                    </md-menu-content>
                                </md-menu>

                                <md-menu md-size="medium" md-align-trigger>
                                    <md-button md-menu-trigger>Eventos</md-button>

                                    <md-menu-content>
                                        <md-menu-item>Próximos</md-menu-item>
                                        <md-menu-item>Histórico</md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-menu md-size="medium" md-align-trigger>
                                    <md-button md-menu-trigger>Calendário</md-button>

                                    <md-menu-content>
                                        <md-menu-item>Esportivo</md-menu-item>
                                        <md-menu-item>Recreativo</md-menu-item>
                                    </md-menu-content>
                                </md-menu>

                                <md-menu md-size="medium" md-align-trigger>
                                        <md-button md-menu-trigger>Cadastro</md-button>

                                    <md-menu-content>
                                        <md-menu-item>Atleta</md-menu-item>
                                        <md-menu-item>Torcedor</md-menu-item>
                                    </md-menu-content>
                                </md-menu>



                        </md-menu>
                </div>
                </div>
            </nav>

        </header>
        <section>
            <p style="margin-left: 10%">Home > <span style="color:red">Feed</span></p>
            <h1>Feed</h1>

            <div class="md-card">
            <md-card md-with-hover>
                <md-ripple>
                    <md-card-header>
                        <div class="md-title">Expeculações</div>
                        <div class="md-subhead">Especulações acerca do próximo ano</div>
                    </md-card-header>

                    <md-card-content>
                        Estamos otimistas com o que nos aguarda
                        para o próximo ano, já que os resultados
                        desta temporada foram satisfatórios, apesar
                        de não pudermos contar com nosso principal
                        jogador, e capitão da equipe Giulio Giovanella.
                        O mesmo acaba de se recuperar das lesões
                        que o afastaram e já voltou aos treinos com a
                        equipe.
                    </md-card-content>

                    <md-card-actions>
                        <md-button>Omitir</md-button>
                        <md-button>Saiba mais</md-button>
                    </md-card-actions>
                </md-ripple>
            </md-card>
            </div>


            <div id="cadastro">
                <md-field>
                    <label>Initial Value</label>
                    <md-input v-model="initial"></md-input>
                </md-field>

                <md-field>
                    <label>Initial Value (Read Only)</label>
                    <md-input v-model="initial" readonly></md-input>
                </md-field>

                <md-field>
                    <label>Type here!</label>
                    <md-input v-model="type"></md-input>
                    <span class="md-helper-text">Helper text</span>
                </md-field>

                <md-field>
                    <label>With label</label>
                    <md-input v-model="withLabel" placeholder="A nice placeholder"></md-input>
                </md-field>

                <md-field md-inline>
                    <label>Inline</label>
                    <md-input v-model="inline"></md-input>
                </md-field>

                <md-field>
                    <label>Number</label>
                    <md-input v-model="number" type="number"></md-input>
                </md-field>

                <md-field>
                    <label>Textarea</label>
                    <md-textarea v-model="textarea"></md-textarea>
                </md-field>

                <md-field>
                    <label>Textarea with Autogrow</label>
                    <md-textarea v-model="autogrow" md-autogrow></md-textarea>
                </md-field>

                <md-field>
                    <label>Disabled</label>
                    <md-input v-model="disabled" disabled></md-input>
                </md-field>
            </div>



        </section>
        <footer>
            <p><span id="footer-tag">@ 2019 Copyright:</span><span id="footer-name">Giulio Giovanella</span></p>
        </footer>
    </template>

    <script>
        export default {
            name: 'TextFields',
            data: () => ({
                initial: 'Initial Value',
                type: null,
                withLabel: null,
                inline: null,
                number: null,
                textarea: null,
                autogrow: null,
                disabled: null
            })
        }
    </script>

</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@beta"></script>
<style>

</style>
<script>
    Vue.use(VueMaterial.default)

    new Vue({
        el: '#app'
    })
</script>
</body>
</html>