<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="index.css">
    <title>AAALF</title>
</head>

<body>
<div id="app">
    <!-- Your code here -->
    <h1 id="title">Faça parte da atlética das Licenciaturas e desfrute do melhor do esporte universitário!</h1>

    <template>
        <section class="center-webkit">
        <form>
            <div id="logo">
                <img src="atletica_logo.png">
            </div>
            <md-field>
                <label><span>*</span>Login</label>
                <md-input v-model="username" placeholder=""></md-input>
            </md-field>
            <md-field>
                <label><span>*</span>Password</label>
                <md-input v-model="password" type="password"></md-input>
            </md-field>
            <div id="remember-me">
                <input type="checkbox">Remember me</input>
            </div>
            <div id="forgot-password">
                <a href="#">Forgot the password?</a>
            </div>
            <div id="sign-up">
                <md-button>Sign up</md-button>
            </div>
            <div id="log-in">
                <md-button class="md-raised md-primary" @click="logIn(username, password)">Log in</md-button>
            </div>
        </form>
        </section>
        <footer>
            <p><span id="footer-tag">@ 2019 Copyright:</span><span id="footer-name"> Giulio Giovanella</span></p>
        </footer>
    </template>

</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@beta"></script>
<script>
    Vue.use(VueMaterial.default)
    new Vue({
        el: '#app',
        data:{
            username: null,
            password: null
        },
        methods:{


            logIn(username, password){
                //local storage para armazenar id e senha para não serem perdidos ao fechar o navegador
                var remember_me = document.querySelector('#remember-me input');
                console.log('remember-me: '+remember_me.checked);
                if(remember_me.value){
                    console.log(username);
                    console.log(password);
                    window.localStorage.setItem('username', username);
                    window.localStorage.setItem('password', password);
                    console.log('local storage'+window.localStorage.getItem('username'));
                }
                //session storage para bloquear o usuário de acessar a página sem logar já que o mesmo
                //perde memória com o fim da sessão
                sessionStorage.setItem('logged', true);
                window.location = 'feed.html';
            }





        }
    })


</script>
</body>
</html>