<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="index.css">
    <title>AAALF</title>
</head>

<body>
<div id="app">
    <!-- Your code here -->
    <h1 id="title">Faça parte da atlética das Licenciaturas e desfrute do melhor do esporte universitário!</h1>

    <template>
        <section class="center-webkit">
        <form>
            <div id="logo">
                <img src="atletica_logo.png">
            </div>
            <md-field>
                <label><span>*</span>Login</label>
                <md-input v-model="withLabel" placeholder=""></md-input>
            </md-field>
            <md-field>
                <label><span>*</span>Password</label>
                <md-input v-model="password" type="password"></md-input>
            </md-field>
            <div id="remember-me">
                <md-checkbox v-model="boolean" value="my-checkbox">Remember me</md-checkbox>
            </div>
            <div id="forgot-password">
                <a href="#">Forgot the password?</a>
            </div>
            <div id="sign-up">
                <md-button>Sign up</md-button>
            </div>
            <div id="log-in">
                <md-button class="md-raised md-primary">Log in</md-button>
            </div>
        </form>
        </section>
        <footer>
            <p><span id="footer-tag">@ 2019 Copyright:</span><span id="footer-name">Giulio Giovanella</span></p>
        </footer>
    </template>

    <script>
        export default {
            name: 'TextFields',
            data: () => ({
                initial: 'Initial Value',
                type: null,
                withLabel: null,
                inline: null,
                number: null,
                textarea: null,
                autogrow: null,
                disabled: null
            })
        }
    </script>

</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@beta"></script>
<script>
    Vue.use(VueMaterial.default)

    new Vue({
        el: '#app'
    })
    var usarmane = document.querySelector('')
</script>
<style>
    
</style>
</body>
</html>